input{
background-color:white;
border:solid green 0.1cm;
padding:12;
}
body{
background-image:url(sit);
background-attachment:fixed;
}
h1{
 text-align:center;
 color:green;
 background-color:red;
 
}
p{
text-align:center;
color:blue;
background-reapt:no-reapt;
background-color:pink;
padding:0.5cm;
border:solid green 0.3cm;
}
em{
text-align:center;
 color:red;
 background-color:yellow;
}
i{
text-align:center;
 color:red;
}

